## Identify numerical categorical variable
## Handling Missing values numerical features
## Detect handle outliers in numerical features
## Normalize(scaling) numerical features 
## Handling missing values in categorical variables

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [13]:
def pre_process(df):
    numeric_features = df.select_dtypes(include=[np.number]).columns
    categorical_features = df.select_dtypes(exclude=[np.number]).columns
    
    # Filling NAN using mean for numerical variables
    df[numeric_features]=df[numeric_features].fillna(df[numeric_features].mean())
    df[categorical_features]=df[categorical_features].fillna(df[categorical_features].mode().iloc[0])
    
    # Handling Outliers
    for features in numeric_features:
        q1 = df[features].quantile(0.25)
        q3 = df[features].quantile(0.75)
        iqr = q3-q1
        low_outlier=q1 - 1.5*iqr
        upper_outlier=q3 - 1.5*iqr
        df[features]=np.where((df[features]<low_outlier)|(df[features]>upper_outlier),df[features].median(),df[features])
        
    scaler=StandardScaler()
    scaled_data=scaler.fit_transform(df[numeric_features])
    df[numeric_features]=scaler.transform(df[numeric_features])
    
    return df

In [14]:
df=pd.read_csv("C:/Users/Rajan/Desktop/Rakesh/preprocessing/data.csv")
preprocessed_df = pre_process(df)

In [15]:
preprocessed_df

   NumericFeature1  NumericFeature2 CategoricalFeature
0        -2.236068        -2.236068                  A
1         0.447214         0.447214                  B
2         0.447214         0.447214                  A
3         0.447214         0.447214                  A
4         0.447214         0.447214                  B
5         0.447214         0.447214                  C

In [16]:
df

   NumericFeature1  NumericFeature2 CategoricalFeature
0        -2.236068        -2.236068                  A
1         0.447214         0.447214                  B
2         0.447214         0.447214                  A
3         0.447214         0.447214                  A
4         0.447214         0.447214                  B
5         0.447214         0.447214                  C